.dark-mode{
    background-color: #000;
    color: #fff;
}

body{
    max-width: 100%;
    user-select: none;
}

#more {display: none;}

.myBtn{
    border-radius:6px;
    color: red;
}

.text-break{
    text-align: justify; /* For Edge */
    -moz-text-align-last: auto; /* For Firefox prior 58.0 */
  text-align-last:auto;
}

#darkmode{
    position: absolute;
    right: 1%;
    top: 2%;
}

#his-back{
    font-weight: bold;
    border-bottom:2px solid rgb(0, 0, 0);
}

#his-back:hover{
    cursor: pointer;
}

.topButton{
    display: none;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    font-size: 20px;
    z-index: 99;
    position: fixed;
    outline: none;
    bottom: 50px;
    right: 40px;
    border-radius: 30%;
    padding: 9px;
    opacity: .6;
}

@media (max-width:30em) {
    p{
        width: 100%;
    }
};