body{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-family: monospace, Arial, sans-serif,'zaw gyi','unicode','pyidaungsu';
}

.d-block{
    height: 550px;
}

footer{
    background-color: rgb(2, 2, 2);
}

footer p{
    text-align: center;
    color: #fff;
    line-height: 2.5em;
}

#smallscreen{
    display: none;
}

h5{
    color: rgb(47, 0, 255);
    font-weight: bold;
}

html{
    background-color: #e3e3e3;
}

.cards,.topButton{
    display: none;
}

span{
    color: red;
}

.dropdown-item:hover{
    color: rgb(62, 59, 255);
}

.updatedItem::after{
    content: '1';
    font-size: 1em;
    background-color: rgb(12, 12, 12);
    color: #fff;
    border-radius: 50px;
    padding: 5px;    
}

@media only screen and (max-width:500px) {
    .d-block{
        height: 300px;
    }

    .online{
        background-color: green;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        margin: 0px 2px;
    }

    .main-page{
        display: none;
    }
    
    #smallscreen{
        display: inline-block;
    }
    
    .textandimg{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .main-body{
        padding: 5px;
        margin: 0 0 0 5px;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    }
    
    .cards,.topButton{
        display: block;
    }

    marquee{
        display: none;
    }

    .navbar-brand{
        font-size: 0.7em;
    }

    .arrow{
        display: none;
    } 
    footer p{
        text-align: center;
        color: #fff;
        font-size: 0.75em;
    }

    .text-break{
        text-align: justify; /* For Edge */
      -moz-text-align-last: justify; /* For Firefox prior 58.0 */
      text-align-last: justify;
    }
}